// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    padding: 2em;
}
.box {
    border-radius: 1em;
    border-style: dashed;
    padding: 1em;
    margin-bottom: 1em;
}

select,
.btn-filter {
    height: 100px
}